body{
    padding: 0;
    margin: 0;
    font-family: OpenSans, Arial, sans-serif;
}

*{
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.no-scroll{

    @media screen and (max-width: $desktop){
        overflow: hidden;
    }
    
}
