$black: #000000;
$white: #fff;
$azure: #0AD9C6;
$title-color: #1F1F1F;
$footer-color: rgba(0, 0, 0, 0.5);
$input-color: #1C1C1C;
$border-color: #C9CCD4;
$map-desc-color: rgba(0, 0, 0, 0.7);
$background-black: #131314;
$background-gray: #F6F7F9;
$nav-border: rgba(255, 255, 255, 0.2); 

$tab: 768px;
$desktop: 1280px;