$black: #000000;
$white: #fff;
$menu-border-gray: #E6E6E6;
$background-gray: #F2F2F2;
$light-gray: #EAEAEA;
$border-gray: #D9D9D9;
$special_grey: #CDCDCD;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$basic-green: #68B738;
$basic-green-2: #5EAA2F;
$toggler-grey: #DCDCDC;
$status_error: #FF8282;
$input-hover: #BABABA;

$tab: 768px;
$desktop: 1280px;